{% extends 'base.html' %}
{% load static %}
<!--重写title-->
{% block title %} 以太坊智能合约漏洞检测系统 {% endblock %}
<!--区域1保持父模板默认状态-->
<!--对父模板的区域2进行重写-->
{% block footer %}

<div class="container1">
   {% csrf_token %}

<!--    <div class="row loophole" style="width: 100%; margin: 0; padding: 6px 20px">-->
<!--        <h1 style="text-align: center;">漏洞简介</h1>-->
<!--    </div>-->

    <div class="row" style="width: 98%; margin: 0">
        <!-- /.col-lg-12 -->
    </div>

    <div class="row" style="width: 100%; margin: 0">
        <div class="col-lg-4">
            <div class="panel panel-default" style="border-color: black">
                <div class="panel-heading" style='text-align:center' >
                    可重入漏洞
                </div>
                <div class="panel-body" style="color:black; height: 180px; font-size: 16px" >
                    <p><h4>可重入是智能合约代码层中的一个漏洞，通常涉及转移操作。由于Solidity智能合约具有特殊的回调机制，转账操作必须触发接收方合约中的回调函数。如果攻击者在回调函数中添加恶意代码，就可以递归调用转移函数来窃取以太币。可重入漏洞就是由这种机制造成的。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-default" style="border-color: black">
                <div class="panel-heading" style='text-align:center'>
                    整数溢出漏洞
                </div>
                <div class="panel-body" style=" color:black; height: 180px ;font-size: 16px;">
                    <p><h4>2018 年，由于 USDChain BEC 合约存在整数溢出漏洞，其代币价值瞬间归零。智能合约中的整数溢出包括加法溢出、减法溢出和乘法溢出。以太坊为整数指定了固定大小和无符号整数类型，Solidity 支持 uint8 到 uint256。对于 uint8 类型的变量，Uint8 可以存储 [0,255] 范围内的数字，在 uint8 中存储 256 会导致整数溢出错误。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-default" style="border-color: black">
                <div class="panel-heading" style='text-align:center'>
                    调用栈漏洞
                </div>
                <div class="panel-body" style=" color:black; height: 180px; font-size: 16px ">
                    <p><h4>调用栈是智能合约 EVM 执行层中的一个漏洞。在以太坊虚拟机中，调用深度限制为 1024。当智能合约调用自身或调用外部合约时，会增加合约的调用栈深度。如果攻击者设计了一系列嵌套调用，最终可能会导致调用堆栈溢出，使智能合约处于不安全状态。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

    <!-- /.row -->
    <div class="row" style="width: 100%; margin: 0">
        <div class="col-lg-4">
            <div class="panel panel-default" style="border-color: black">
                <div class="panel-heading" style='text-align:center'>
                    Tx.origin 漏洞
                </div>
                <div class="panel-body " style="color:black; height: 180px;font-size: 16px;">
                    <p> <h4>Tx.origin 是一个全局变量，用于返回创建原始交易合约的地址。如果智能合约使用 tx.origin 对用户进行身份验证或授权，攻击者就可以利用该漏洞攻击智能合约。在这种情况下，tx.origin 被用来绕过限制并获得某些权限，最后攻击者成功窃取以太币。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-default" style="border-color: black">
                <div class="panel-heading" style='text-align:center'>
                    时间戳依赖漏洞
                </div>
                <div class="panel-body" style="color:black; height: 180px ;font-size: 16px;">
                    <p><h4>区块时间戳可以通过矿工操作获得一定范围内的值，智能合约利用矿工确认的区块时间戳来实现时间限制。合约可以检索区块时间戳，区块中的所有交易共享相同的时间戳，保证了合约执行状态的一致性。然而，在大约 900 秒的误差范围内，矿工可能会调整时间戳的值，这样攻击者就可以利用这一漏洞生成时间戳进行攻击。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-default " style="border-color: black" >
                <div class="panel-heading" style='text-align:center'>
                    TOD 漏洞
                </div>
                <div class="panel-body" style="color:black; height:180px;font-size: 16px;">
                    <p><h4>TOD 是区块链系统层的一个漏洞。由于区块链通过 PoW 或 PoS 等共识算法竞争记账权，交易打包顺序由竞争记账权的节点决定。不同的节点可能会按照不同的顺序打包交易，因此不同的交易顺序往往会导致不同的结果。</h4></p>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>

</div>
    {% endblock footer %}